.margin-bottom {
    margin-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 50px;
}

.form {
    text-align: center;
    // background-image: url('../../assets/images/bg.png');
    background-image: url('https://qjz.oss-cn-shenzhen.aliyuncs.com/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    min-height: 100vh;

    .form_container {
        width: 94vw;
        margin: 0px auto 30px;
        box-shadow: #e0e0e0 0 0 20px;
        border-radius: 22px;
        background-color: #fff;

        .form_title {
            font-size: 22px;
            color: #2d4f98;
            border-bottom: 1px dashed #eee;
            padding: 30px 0;
            margin: 0 16px;
        }

        .form_title p {
            margin: 0;
        }

        .form_title p:first-of-type {
            font-size: 26px;
            letter-spacing: 2px;
            margin-left: 2px;
            font-weight: bold;
        }

        .van-cell {
            line-height: 28px;
        }

        .title span {
            border-bottom: 1px #000 solid;
            padding: 2px 0;
        }

        .tips {
            font-size: 12px;
            color: #666;
        }

        .form_price {
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px;

            .price {
                color: #f40;
                font-size: 20px;
            }
        }


        .btn {
            padding: 10px 20px 30px 20px;

            button {
                background-color: #2d4f98;
                border-color: #2d4f98;
            }

            button::after {
                border: none;
            }
        }

        .van-cell:not(:last-child)::after {
            right: 16px;
        }

        h3 {
            color: #2d4f98;
        }

        .member_combo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .item {
                border-radius: 2px;
                border: 2px solid #eee;
                width: 42%;
                margin: 10px 0;
                padding: 10px 4px;
                font-size: 16px;
                min-height: 91px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                &>span {
                    display: block;
                    margin: 2px 0;

                    .price {
                        color: #f40;
                        font-size: 23px;
                    }
                }

                .cont {
                    display: flex;
                    flex-direction: column;

                    .name {
                        color: #2d4f98;
                        font-weight: bold;
                        font-size: 18px;
                    }

                    .tips {
                        color: #777;
                        font-size: 12px;
                    }

                }

                .num {
                    margin-top: 5px;
                }
            }

            .active {
                border: 2px solid #2d4f98;
                background-color: rgba(45, 79, 152, 0.1);
            }
        }

        .user_agreement {
            margin: 10px 16px;
            font-size: 12px;

            .agreement {
                color: #2d4f98;
            }
        }
    }

    .btnRow {
        padding: 10px 20px 10px 20px;
        display: flex; 
        flex-direction: row;

        button {
            width: 40%;
            margin: 0 auto;
        }

        .confirm {
            background-color: #2d4f98;
            border-color: #2d4f98;
        }

        .cancel {
            background-color: #fff;
            border: 1px solid #eee;
        }

        .confirm::after {
            border: none;
        }
    }

    .logo {
        width: 280px;
        margin-top: 5vh;
        /* margin-bottom: 1vh; */
    }

    .title {
        color: #000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 6px;
    }

    .coupon_item {
        width: 90%;
        margin: 15px auto;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        border-radius: 8px;
        box-shadow: 3px 4px 4px #f0f0f0;
        color: #0c0c0c;
        padding: 10px 0;
    }

    .coupon_left {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        margin-left: 20px;

        span:first-of-type {
            font-weight: bold;
        }

        .price {
            margin: 5px 0;
            font-size: 14px;
            color: #666;

            .old {
                text-decoration: line-through;
                color: #666;
                margin-right: 5px;
            }

            .new {
                color: #f40;
            }
        }

        .tips {
            margin-top: 2px;
            font-size: 12px;
            color: #666;
        }
    }

    .coupon_right {
        margin-right: 20px;
        color: #2d4f98;
        font-weight: bold;
    }
}